body{
    display:grid;
    grid-template-rows: 2fr 3fr;
    height:100vh;
    width:100%;
    padding:0;
    margin:0;
    background-color: rgb(220,220,220);
}


.header{
    height:150px;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 2px 2px grey;
    background-color: white;
}



.card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px grey;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 30px;
}

.readingQuestion {
    display:flex;
    align-items: center;
    justify-content: center;
}

.shelf{
    display:flex;
    flex-direction: column;
    align-items: center;

    
}
.cards{
    display:grid;
    grid-template-columns: repeat(3, minmax(250px, 400px));
    grid-template-rows: repeat(auto-fill, minmax(180px, 400px));
    gap:40px 40px;
    height:100%;
    width:100%;
    justify-content: center;
    align-content: center;
}


/* Start of form-styling */
/* Button used to open the contact form */
.addButton {
    justify-self: start;
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;

  }
  
  /* The popup form - hidden by default */
  .container {
    display:grid;
    justify-self: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    
  }
  
  /* Add styles to the form container */
  .form {
    width:45%;
    height:45%;
    max-width: 350px;
    padding: 10px;
    background-color: rgb(220,220,220);
    box-shadow: 1px 1px #888888;
    border-radius: 10px;
    position:absolute;
    top:3%;
    left:50%;
    transform:translate(-50%, 50%);
    opacity: 100%;
    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  }
  
  /* Full-width input fields */
  .form input[type=text], .form input[type=number] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    gap:10px;
  }
  
  /* When the inputs get focus, do something */
  /* .form input[type=text]:focus{
    background-color: #ddd;
    outline: none;
  } */
  
  /* Set a style for the submit/login button */
  .form .submitButton {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 80%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 10px;
  }
  
  /* Add a red background color to the cancel button */
  /* .form .cancel {
    background-color: red;
  } */
  
  /* Add some hover effects to buttons */
  .form-container .submitButton:hover, .addButton:hover {
    opacity: 1;
  }



  .inactive{
    opacity:40%;
  }

  .readingQuestion{
    font-size: 25px;
    margin-bottom:15px;
  }

  .formTitle{
    font-size:25px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    
  }

.form input[type=checkbox]{
   width:20px;
   height:20px;
   margin-left: 15px;
}
